@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona Główna</h1>
    <a asp-action="KreatorPomieszczen" class="btn btn-primary">Kreator Pomieszczeń</a>
</div>
